#body {
  height: 100%;
  overflow: hidden;
}

.container {
  overflow: hidden;
}

.jumbotron {
  margin: 1em;
}

#balance {
  text-align: center;
}

#balance h1 {
  font-size: 36px;
}

h2 {
  margin-top: 1em;
  margin-bottom: 1em;
}

#qrcode img {
  margin: auto;
}

#transaction-list {
  overflow: scroll;
  height: 25em;
}

.qr-icon {
  text-align: center;
  font-size: 2em;
  margin-top: -.2em;
}

.nav-link {
  padding-left: 10px;
  padding-right: 10px;
}

.centered {
  text-align: center;
}

.trans-amt {
  float: right;
  font-size: 15px;
}

.active {
  font-weight: bold;
}
